# docker-compose.yml
services:
  nginx:
    image: nginx:1.29.1-otel
    container_name: nginx-server
    ports:
      - 8000:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:8006
        tag: nginx.myapp
    depends_on: [otelcol]

  otelcol:
    image: otel/opentelemetry-collector-contrib:0.139.0
    container_name: otelcol
    volumes:
      - ./otelcol.yaml:/etc/otelcol-contrib/config.yaml
    restart: unless-stopped
    ports:
      - 8006:8006
