services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.114.0
    container_name: openllmetry-otel-collector
    command: ["--config=/etc/otelcol/config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml
    ports:
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP HTTP receiver
    env_file:
      - ../.env
