receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 10s
    send_batch_size: 1024

exporters:
  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200

  otlphttp:
    endpoint: https://${env:DASH0_ENDPOINT_OTLP_GRPC_HOSTNAME}
    headers:
      Authorization: ${env:DASH0_AUTH_TOKEN}
      Dash0-Dataset: ${env:DASH0_DATASET}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlphttp]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlphttp]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlphttp]
